{
    "extractors": [{
        "type": "centris",
        "verbose": true,
        "town": "Montréal",
        "suburb": "Tous les arrondissements",
        "max-price": 150000,
        "house-types": ["Condo", "Loft / Studio"],
        "room-type": "2+"
    }],
    "storage": {
        "type": "test",
        "verbose": true
    }
}
