{
    "extractors": [{
        "type": "centris",
        ".process": true,
        "verbose": true,
        "town": "Montréal",
        "suburb": "Tous les arrondissements",
        "max-price": 150000,
        "house-types": ["Condo", "Loft / Studio"],
        "room-type": "2+"
    }, {
        "type": "duproprio",
        ".process": true,
        "verbose": true,
        "url": "http://duproprio.com/search/?hash=/g-ci=1893-16-62-1883-1884-254-256-24619-409-1863-381-574-596-1887-1916-1897-1029-732-809-834-850-853-1888-1889-1423-1433-972-1594-1069-1885-1892-1096/s-pmin=0/s-pmax=150000/s-bmin=2/s-build=1/s-parent=1/s-filter=forsale/s-days=0/m-pack=condo/p-con=main/p-ord=date/p-dir=DESC/pa-ge=1/"
    }],
    "storage": {
        "type": "test",
        "verbose": true
    }
}
