{
    "extractors": [{
        "type": "test",
        "id": "addr",
        "items": [{
            "GPS": "45.556814,-73.607737"
        }]
    }],
    "filters": [{
        "type": "transit",
        "verbose": true,
        "api-key": "tmp/google-maps.key",
        "name": "CIMF",
        "to": "Collège Marie De France, Chemin Queen Mary, Montréal, QC",
        "when": "monday@07:00"
    }],
    "storage": {
        "type": "test",
        "verbose": true
    }
}
