{
    "extractors": [{
        "type": "import-csv",
        "path": "../centris-automata/tmp/centris-condo.csv",
        "mapping": {
            "RUID": "centris.{ID}"
        }
    }, {
        "type": "import-csv",
        "path": "../centris-automata/tmp/centris-house.csv",
        "mapping": {
            "RUID": "centris.{ID}"
        }
    }],
    "storage": {
        "type": "test"
    }
}
