{
    "commons": {
        "csv-mappings": {
            "mappings": {
                "RUID": "duproprio.{ID}",
                "ADDED": "{DATE}",
                "TRANSIT.MIN:CIMF": "{MIN_CIMF}",
                "TRANSIT.MAX:CIMF": "{MAX_CIMF}",
                "TRANSIT.MEAN:CIMF": "{MEAN_CIMF}",
                "TRANSIT.SUBWAY": "{SUBWAY}",
                "TRANSIT.SUBWAY.STATION": "{SUBWAY_STATION}",
                "TRANSIT.SUBWAY.WALKING_DISTANCE": "{SUBWAY_DISTANCE}",
                "TRANSIT.BUS": "{BUS}",
                "TRANSIT.BUS.EXPRESS": "{BUS_EXPRESS}",
                "TRANSIT.BUS.WALKING_DISTANCE": "{BUS_DISTANCE}"
            }
        }
    },
    "extractors": [{
        "type": "csv-import",
        ".extends": "csv-mappings",
        "path": "../centris-automata/tmp/duproprio-house.csv"
    }, {
        "type": "csv-import",
        ".extends": "csv-mappings",
        "path": "../centris-automata/tmp/duproprio-condo.csv"
    }, {
        "type": "csv-import",
        ".extends": "csv-mappings",
        "path": "../centris-automata/tmp/centris-house.csv"
    }, {
        "type": "csv-import",
        ".extends": "csv-mappings",
        "path": "../centris-automata/tmp/centris-condo.csv"
    }],
    "storage": {
        "type": "test",
        "verbose": false
    }
}
