{
    "extractors": [{
        "type": "test",
        "id": "serie-1",
        "timeout": 500,
        "items": [{
            "label": "a"
        }, {
            "label": "e"
        }, {
            "label": "i"
        }, {
            "label": "o"
        }, {
            "label": "u"
        }, {
            "label": "y"
        }]
    }, {
        "type": "test",
        "id": "serie-2",
        "timeout": 250,
        "items": [{
            "label": "b"
        }, {
            "label": "c"
        }, {
            "label": "d"
        }, {
            "label": "f"
        }, {
            "label": "g"
        }, {
            "label": "h"
        }, {
            "label": "j"
        }, {
            "label": "k"
        }]
    }],
    "filters": [{
        "type": "test",
        "timeout": 100,
        "add": {
            "filtered": true
        }
    }, {
        "type": "test",
        "timeout": 150,
        "exclude": ["i", "c", "k"]
    }],
    "storage": {
        "type": "test"
    }
}
